body{
    margin: 0px;
    padding: 0 5%;
    font-family: sans-serif;
}
.container{
    margin: 0 7%;
}
.container h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.nav p{
    text-align: center;
    padding: 15px;
    background-color: rgb(124, 49, 89);
    margin-top: 0px;
    margin-right: -5px;
    display: inline-block;
    width: 14%;
}
.nav p:hover{
    background-color: rgb(171, 107, 58);
}
.nav a{   
    text-decoration: none;
    color: beige;
}
.sell{
    text-align: center;
    padding: 25px;
}
.sell h1{
    font-size: 60px;
    margin-bottom: 0;
}
.sell p{
    font-size: large;
}
.buy{
    background-color: green;
    border: 0;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    font-size: 25px;
    color: beige;
    cursor: pointer;
}
.buy:hover{
    background-color: rgb(158, 189, 46);
}
.mcontent{
    display: flex;
    justify-content: space-between;
}
.content{
    width: 32%;
    margin-top: 10px;
}
.content h3{
    font-size: 36px;
    margin-bottom: 0px;
}
.click{
    background-color: rgb(84, 84, 191);
    border: 0;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    font-size: 13px;
    color: beige;
    cursor: pointer;
}
.click:hover{
    background-color: darkblue;
}